pre > code {
    padding: 10px;
    margin: 5px;
    background: #20262e;
    color: #cfd0d2;

    .string {
        color: #f8b068;
    }

    .number {
        color: #ed6e55;
    }

    .boolean {
        color: #6ce890;
    }

    .null {
        color: #b896ed;
    }

    .key {
        color: #ff4f68;
    }
}
